<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf-8">
            var socket = io('http://cammy.local:5000');
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            var count = 0;

            function timer_callback(){
                socket.emit('set_pwm', {pwmL: count%101, pwmR: count%101} );
                count += 1;
            }

            socket.on("status", (data)=>{
                console.log( data );
            });

            window.setInterval( timer_callback, 50 );
        </script>
    </head>
    <body>
        <h1>Hello world!</h1>
        <img src="http://cammy.local:8080/?action=stream"
    </body>
</html>